NODE_ENV=local
PORT=30000

# PostgreSQL / TimescaleDB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=aio


# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

# MinIO (S3 Compatible)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=default

# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=

# Server Configuration
CORS_ORIGIN=http://localhost:40000

# Better Auth Configuration
BETTER_AUTH_BASE_PATH=/api/v1/auth
BETTER_AUTH_SECRET=XZQiM5M/Eb789r5nrww7yqOyKsc2BDiP9PRKcju6iRg=
